# Exclude ChromaDB files
rag/chroma_db_files/

# Exclude all context files, and folder for old context files, but not the structural folders
rag/context_files/alt/
rag/context_files/csv_files/
rag/context_files/pdf_files/
rag/context_files/txt_files/

# Exclude all api keys
rag/api_keys/*

# Exclude any files created by running code
__pycache__/
rag/__pycache__/

# Exclude builder file
builder.py

# Exclude customization file
customization/theme_color.txt
customization/chat_layout.txt

# Exclude webui folders
histories/
saved_context/