# Exclude all rag server files other than code
rag/
!rag/RAG.py
!rag/rag_server.py

# Exclude any files created by running code
__pycache__/

# Exclude builder file
builder.py

# Exclude customization file
customization/theme_color.txt
customization/chat_layout.txt
customization/all_topics.txt
customization/current_topic.txt

# Exclude webui folders
histories/
saved_context/