# Exclude ChromaDB files and last modified time files, but not the structural folders
chroma_db_files/(0)modified-times/*
chroma_db_files/*
!chroma_db_files/
!chroma_db_files/(0)modified-times/

# Exclude all context files, and folder for old context files, but not the structural folders
context_files/alt/
context_files/csv_files/*
context_files/pdf_files/*
!context_files/
!context_files/csv_files/
!context_files/pdf_files/

# Exclude all output files, but not the output file folder
output_files/*
!output_files/

# Exclude any files created by running code
.ipynb_checkpoints/
__pycache__/